<!-- /*<style>
  .dropdown-menu{
        min-width: 231px;
  }
</style>

 <script type="text/ng-template" id="customTemplate1.html">
  <a>
      <img ng-src="{{match.model.mobile_icon}}" width="50">
      <span ng-bind-html="match.model.product_display_name | uibTypeaheadHighlight:query"></span>
      </br>
      <span ng-bind-html="match.model.price | uibTypeaheadHighlight:query"></span>
  </a>
</script>

 <table class="table" st-pipe="callServer" st-table="carProduct">
  <tr>
    <th><h2>Compare By</h2></th>
    <th>
      <input type="text" class="form-control" id="input01" placeholder="Product Search .."
      ng-model="statechange1" uib-typeahead="mobile as mobile.product_display_name for mobile in MobileProduct | filter:$viewValue | limitTo:8"
      typeahead-min-length="2"
      typeahead-template-url="customTemplate1.html"
      typeahead-on-select="pushProduct1($item, $model, $label)">
    </th>
    <! typeahead-min-length="2" -->
     <!-- <th>
       <input type="text" class="form-control" id="input01" placeholder="Product Search .."
       ng-model="statechange2" uib-typeahead="mobile as mobile.product_display_name for mobile in MobileProduct | filter:$viewValue | limitTo:8"
       typeahead-min-length="2"
       typeahead-template-url="customTemplate1.html"
       typeahead-on-select="pushProduct2($item, $model, $label)">
     </th>
     <th>
       <input type="text" class="form-control" id="input01" placeholder="Product Search .."
       ng-model="statechange3" uib-typeahead="mobile as mobile.product_display_name for mobile in MobileProduct | filter:$viewValue | limitTo:8"
       typeahead-min-length="2"
       typeahead-template-url="customTemplate1.html"
       typeahead-on-select="pushProduct3($item, $model, $label)">
     </th>
     <th>
       <input type="text" class="form-control" id="input01" placeholder="Product Search .."
       ng-model="statechange4" uib-typeahead="mobile as mobile.product_display_name for mobile in MobileProduct | filter:$viewValue | limitTo:8"
       typeahead-min-length="2"
       typeahead-template-url="customTemplate1.html"
       typeahead-on-select="pushProduct4($item, $model, $label)">
     </th>
  </tr>

  <tr>
    <td></td>
    <td>

      <center>
        <a ng-show="buttonshow1" class="clear" ng-click="removeProduct1()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <img src="{{display1.mobile_icon}}"></br>
        {{display1.product_display_name}}</br>
        {{display1.price}}</br>
        <button ng-show="buttonshow1" ng-click="showAttribute1()" type="button" class="btn btn-success">+ Compare</button>
      </center>
    </td>
    <td>
      <center>
        <a ng-show="buttonshow2" class="clear" ng-click="removeProduct2()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <img src="{{display2.mobile_icon}}"></br>
        {{display2.product_display_name}}</br>
        {{display2.price}}</br>
        <button ng-show="buttonshow2" ng-click="showAttribute2()" type="button" class="btn btn-success">+ Compare</button>
      </center>
    </td>
    <td>
      <center>
        <a ng-show="buttonshow3" class="clear" ng-click="removeProduct3()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <img src="{{display3.mobile_icon}}"></br>
        {{display3.product_display_name}}</br>
        {{display3.price}}</br>
        <button ng-show="buttonshow3" ng-click="showAttribute3()" type="button" class="btn btn-success">+ Compare</button>
      </center>
    </td>
    <td>
      <center>
        <a ng-show="buttonshow4" class="clear" ng-click="removeProduct4()">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <img src="{{display4.mobile_icon}}"></br>
        {{display4.product_display_name}}</br>
        {{display4.price}}</br>
        <button ng-show="buttonshow4" ng-click="showAttribute4()" type="button" class="btn btn-success">+ Compare</button>
      </center>

    </td>
  </tr>
</tr>
</table>
<div class="row">
      <table class="table" style=" border-collapse: collapse;">
        <tr class="row" >
          <td class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style=" border-collapse: collapse; padding: 0px;">

            <ul class="list-group"  ng-repeat="mobile in MobileAttribute" style="list-style-type:none;">
            <li class="list-group-item">  {{mobile.display}}</li>
            <li class="list-group-item">  {{mobile.camera}}</li>
            <li class="list-group-item">  {{mobile.os}}</li>
            <li class="list-group-item">  {{mobile.Sim_size}}</li>
            <li class="list-group-item">  {{mobile.storage_internal}}</li>
            <li class="list-group-item">  {{mobile.storage_external}}</li>

                <ul>
          </td>
          <td class="col-lg-10 col-md-10 col-sm-10 col-xs-10" class="row" style="padding:0px;">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" border-collapse: collapse; padding:0px;">
            <ul class="list-group"  ng-repeat="x in display1.Mobile_attribute">
            <li class="list-group-item">  {{x.Summary_Display || ''}}</li>
            <li class="list-group-item">  {{x.Summary_Camera || ''}}</li>
            <li class="list-group-item">  {{x.General_os}}</li>
            <li class="list-group-item">  {{x.Sim_Size}}</li>
            <li class="list-group-item">  {{x.Storage_internal}}</li>
            <li class="list-group-item">  {{x.Storage_external}}</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" border-collapse: collapse; padding:0px;">
            <ul class="list-group" ng-show="showCarAttribute2" ng-repeat="x in display2.Mobile_attribute" style="list-style-type:none;">
              <li class="list-group-item">  {{x.Summary_Display || ''}}</li>
              <li class="list-group-item">  {{x.Summary_Camera || ''}}</li>
              <li class="list-group-item">  {{x.General_os}}</li>
              <li class="list-group-item">  {{x.Sim_Size}}</li>
              <li class="list-group-item">  {{x.Storage_internal}}</li>
              <li class="list-group-item">  {{x.Storage_external}}</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" border-collapse: collapse; padding:0px;">
            <ul class="list-group" ng-show="showCarAttribute3" ng-repeat="x in display3.Mobile_attribute" style="list-style-type:none;">
              <li class="list-group-item">  {{x.Summary_Display || ''}}</li>
              <li class="list-group-item">  {{x.Summary_Camera || ''}}</li>
              <li class="list-group-item">  {{x.General_os}}</li>
              <li class="list-group-item">  {{x.Sim_Size}}</li>
              <li class="list-group-item">  {{x.Storage_internal}}</li>
              <li class="list-group-item">  {{x.Storage_external}}</li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style=" border-collapse: collapse; padding:0px;">
            <ul class="list-group" ng-show="showCarAttribute4" ng-repeat="x in display4.Mobile_attribute" style="list-style-type:none;">
              <li class="list-group-item">  {{x.Summary_Display || ''}}</li>
              <li class="list-group-item">  {{x.Summary_Camera || ''}}</li>
              <li class="list-group-item">  {{x.General_os}}</li>
              <li class="list-group-item">  {{x.Sim_Size}}</li>
              <li class="list-group-item">  {{x.Storage_internal}}</li>
              <li class="list-group-item">  {{x.Storage_external}}</li>
            </ul>
          </div>
        </td>
        <tr>
      </table>
    </div>*/ -->

    <!-- <div class="row" style="background-color:black" >
      <div class="col-sm-2"></div>
      <div class="col-sm-8" class="dropdown">
        <div class="col-sm-6">


        <strong> 91Mobile</strong>
        <input type="text" name="">
            <select >
                <option>All</option>
                <option>Mobile</option>
                <option>laptop</option>
            </select>
              </div>
            <div class="col-sm-3">
              <strong style="color:red">Feedback</strong>
              </div>
              <div class="col-sm-3">
                  <strong>Login/signup</strong>
              </div>



      </div>
      <div class="col-sm-2"></div>
    </div> -->




    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">Hidden brand</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
