<div class="row" style="background-color: black">
	<div class="col-sm-2"></div>
	<div class="col-sm-8" class="dropdown">
		<div class="col-sm-6">


			<strong> 91Mobile</strong> <input type="text" name=""> <select>
				<option>All</option>
				<option>Mobile</option>
				<option>laptop</option>
			</select>
		</div>
		<div class="col-sm-3">
			<strong style="color: red">Feedback</strong>
		</div>
		<div class="col-sm-3">
			<strong style="color: red">Login/signup</strong>
		</div>



	</div>
	<div class="col-sm-2"></div>
</div>


<nav class="navbar navbar-default  " style="background-color: white"
	" ng-controller="mobilectr">
	<div class="container-fluid">
		<!-- <div class="navbar-header">
    <a class="navbar-brand" href="#">WebSiteName</a>
  </div> -->
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">Home</a></li>
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="/mobile/home">Mobile & Table <span
					class="caret"></span></a>


				<ul class="dropdown-menu" ng-repeat="mb in mobiledata"
					style="list-style-type: none;">
					<div ng-repeat="x in mb.mobiletablet">


						<div class="row" style="background-color: white">

							<div ng-repeat="y in x.mobile">
								<div class="col-sm-6">
									<li><a href="#/mobile/home">{{y}}</a></li>
								</div>
							</div>


							<div ng-repeat="brand in x.brand">
								<div class="col-sm-6">
									<li><a href="#/mobile/home">{{brand}}</a></li>
								</div>
							</div>
				</ul></li>

			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="/mobile/home">Top 10 <span
					class="caret"></span></a>
				<ul class="dropdown-menu" ng-repeat="mb in mobiledata" 	style="list-style-type: none;">
					<div ng-repeat="x in mb.Top10">


						<div class="row" style="background-color: white">

							<div ng-repeat="y in x.top">
								<div class="col-sm-6">
									<li><a href="#/mobile/home">{{y}}</a></li>
								</div>
							</div>


							<div ng-repeat="brand in x.TopByBrand">
								<div class="col-sm-6">
									<li><a href="#/mobile/home">{{brand}}</a></li>
								</div>
							</div>
				</ul></li>
			<li><a href="#/mobile/home">Page 3</a></li>
		</ul>
	</div>

</nav>
<ul style="list-style-type: none;">
	<div class="row" style="background-color: white">
		<div ng-repeat="ThirdRow1 in mobiledata">
			<div ng-repeat="ThirdRow2 in ThirdRow1.ThirdRow">

				<div class="col-sm-1">
					<li><a href="#/mobile/home">{{ThirdRow2}}</a></li>


				</div>



			</div>


		</div>
	</div>
</ul>

<div class="row" style="background-color: white">

		<div class="col-sm-7">
			<div class="slider-box">

				<h2>Let's Find a Mobile For You!</h2>
				<ion-slider type="double" grid="true" min="100" max="35000"
					from="420" to="900" disable="false" selectedRange="firstName">
				</ion-slider>
				<br /> <br /> {{firstName}}
				<div class="row">
					<div class="col-sm-5">
						Rs <input type="text" placeholder="start 100" />
					</div>
					<div class="col-sm-2">to</div>
					<div class="col-sm-5">
						Rs <input type="text" placeholder="more than  35000" />
					</div>
				</div>
				<br /> <br />

				<div class="row">
					<div class="col-sm-1"></div>
					<div class="col-sm-9">
						<input type="button" class="form-control" value="Find mobile >"
							style="background-color: darkorange" />
					</div>
					<div>
						<div class="col-sm-2"></div>
					</div>
				</div>
			</div>



		</div>
		<div class="col-sm-1">
		<div ng-repeat=" bybrand in mobiledata">

      <tr>


        <br />
        <br />
        <strong>    ByBrand</strong>
      </tr>
      <tr>
				<div ng-repeat="bybrand2 in bybrand.ByBrand">
				<ul 	style="list-style-type: none;">

					<li><a href="#/mobile/home">{{bybrand2}}</a></li>
					</ul>
				</div>
      </tr>
		</div>
</div>
</div>
